# PHP
alias phpunit="vendor/bin/phpunit"
alias phpunitw="phpunit-watcher watch"
alias a="php artisan"
alias ar="php artisan remote"
alias c="composer"
alias cu="composer update"
alias cr="composer require"
alias ci="composer install"
alias cda="composer dump-autoload -o"
alias larastan="vendor/bin/phpstan analyse"
alias hostfile="sudo vi /etc/hosts"
alias deploy='envoy run deploy'
alias deploy-code='envoy run deploy-code'
alias mfs='php artisan migrate:fresh --seed'
alias nah='git reset --hard;git clean -df'

alias pp="php artisan test --parallel"
alias d="php artisan dusk"
alias sshconfig="vi ~/.ssh/config"
alias copykey='command cat ~/.ssh/id_rsa.public | pbcopy'
alias sail='./vendor/bin/sail'
alias tunnel='valet share -subdomain=freekmurze -region=eu'

# JavaScript
alias jest="./node_modules/.bin/jest"

# Git
alias gc="git checkout"
alias gpo="git push origin"
alias gm="git merge"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# Fast open
alias o="open ."

# List all files colorized in long format
alias l="ls -laF"

# PhpStorm
alias phpstorm='open -a /Applications/PhpStorm.app "`pwd`"'

# PHP
alias switch-php80="brew unlink php@7.4 && brew link --overwrite --force php"
alias switch-php74="brew unlink php && brew link --overwrite --force php@7.4"

# Redis
alias flush-redis="redis-cli FLUSHALL"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# IP addresses
alias ip="curl ifconfig.me/ip ; echo"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Lock the screen
alias afk="osascript -e 'tell application \"System Events\" to keystroke \"q\" using {command down,control down}'"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Scape webpage
alias scrape="scrapeUrl"

# Switch NPM
alias npmnpm="npm config set registry https://registry.npmjs.org"
alias npmspatie="npm config set registry https://npm.spatie.be"

# Restart touch bar
alias touchbar="killall ControlStrip"

alias php-log="open ~/.config/valet/Log/php-fpm.log"
alias nginx-log="open ~/.config/valet/Log/nginx-error.log"

# from mac
alias zshconfig="sublime ~/.zshrc"
alias jelastic='ssh 4208@sshgateway.io -p 3022'
alias gandi-advertorials='ssh 1082864@console.dc2.gpaas.net'
alias dnsflush='sudo killall -HUP mDNSResponder'
alias convertize-deployments='ssh -i "/Users/chumang/ConvertizeIO/certificates/prd.pem" centos@ec2-52-211-117-199.eu-west-1.compute.amazonaws.com'
alias deployments-scenario='ssh -i "/Users/chumang/ConvertizeIO/certificates/scenario-prd.pem" centos@54.216.80.87'
alias deployments-convertize='ssh root@51.89.233.166 -p 34422 -A'
alias deployments-nudgify='ssh root@51.89.233.166 -p 34522 -A'
alias wisebusiness='ssh root@217.174.252.148'

alias nudgify-rc-mysql='ssh root@178.62.87.121 -p 34422'
alias nudgify-rc-redis='ssh root@46.101.46.7 -p 34422'
alias nudgify-rc-pixel='ssh root@46.101.78.161 -p 34422'
alias nudgify-rc-portal='ssh root@159.65.24.86 -p 34422'
alias nudgify-rc-worker='ssh root@46.101.44.234 -p 34422'
alias nudgify-rc-lb='ssh root@139.59.189.210'
alias nudgify-rc-clickhouse="ssh root@178.62.17.52"

alias nudgify-staging-mysql='ssh root@144.126.228.42 -p 34422'
alias nudgify-staging-redis='ssh root@161.35.38.209 -p 34422'
alias nudgify-staging-pixel='ssh root@159.65.48.13 -p 34422'
alias nudgify-staging-portal='ssh root@46.101.89.208 -p 34422'
alias nudgify-staging-worker='ssh root@167.71.132.46 -p 34422'
alias nudgify-staging-clickhouse="ssh root@161.35.169.147"

alias nudgify-prod-lb='ssh root@178.62.95.38'
alias nudgify-prod-pixel-1='ssh root@167.71.129.155 -p 34422'
alias nudgify-prod-pixel-2='ssh root@165.232.102.102 -p 34422'
alias nudgify-prod-pixel-3='ssh root@46.101.23.217 -p 34422'
alias nudgify-prod-pixel-4='ssh root@138.68.139.141 -p 34422'
alias nudgify-prod-portal='ssh root@165.22.125.68 -p 34422'
alias nudgify-prod-portal-1='ssh root@178.128.165.202 -p 34422'
alias nudgify-prod-worker-1='ssh root@143.110.165.9 -p 34422'
alias nudgify-prod-worker-2='ssh root@178.62.10.229 -p 34422'
alias nudgify-prod-redis='ssh root@165.227.224.126 -p 34422'
alias nudgify-prod-clickhouse-1="ssh root@134.209.29.210"
alias nudgify-prod-clickhouse-2="ssh root@134.209.181.145"

alias bta-curiosity='ssh forge@157.245.45.78'
alias bta-corporate='ssh forge@167.71.141.48'
alias bta-office='ssh forge@134.209.25.96'

alias musc-leadslantern='ssh  forge@165.232.32.150'
